<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="test/html" charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>스프링 부트로 시작하는 웹 서비스</h1>

</body>
</html>